
<div class="container">
    <div class="row col-12 mt-3 justify-content-around">
            <div class="col-2 h-100">
                <img src="../../assets/images/circle.png" class="d-block mx-auto img-fluid" alt="pas dimage">
            </div>
        <div class="col-2">
            <div class="card mb-3 h-100" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Commits</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
          <div class="col-2">
            <div class="card mb-3 h-100" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Repos</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-2">
            <div class="card mb-3 h-100" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Line of codes</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-2">
            <div class="card mb-3 h-100" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Followers</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-2">
            <div class="card mb-3 h-100" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Following</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>

